<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:instead="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Sitecore.Support.Pipelines.HttpRequest.ItemResolver, Sitecore.Support.436260" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>